.container-credits{
    width: 60%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255,.5);
    margin: auto;
    padding: 30px;
}
.container-credits h1{
    text-align: center;
    margin-bottom: 20px;
}
.name{
    display: flex;
    margin-top: 10px;
    width: 100%;
}
.name a{
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: auto;
}
.button-home-col{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    display: flex;
}
.button-home{
    border-radius: 5px;
    text-decoration: none;
    margin: auto;
    color: white;
    padding: 10px 30px;
    background-color: green;
}
